---
import Base from '@layouts/Base.astro';
import Card from '../components/Card.astro';
---

<Base title="Ryan Keairns. You should probably close some tabs.">
	<main>
		<h1>Ryan Keairns</h1>
		<p>It ain't much, but it's an honest website.</p>
	</main>
</Base>

<style>
	body {
		margin: 0;
	}
	main {
		border-left: 4rem solid red;
		padding: 1.5rem;
		/* max-width: 60ch; */
	}
	h1 {
		font-size: 8rem;
		font-weight: 800;
		line-height: 1em;
		margin: 0;
		text-transform: uppercase;
		word-spacing: 100vw;
	}
</style>
