---
import '@styles/reset.css';
import '@styles/base.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="If you are reading this at ryankeairns.com, then I managed to publish my personal site. It is a small miracle.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer>
			<p>Handmade with HTML and CSS.</p>
			<p>Copyright &copy; 2023 ryankeairns.com</p>
			<p>Hat tip to <a href="https://astro.build/">astro</a> for the plumbing.</p>
		</footer>
	</body>
</html>